# ==========================================
# Raw data
# ==========================================
data/raw/

# ==========================================
# Python
# ==========================================
__pycache__/
*.pyc

# ==========================================
# Virtual environments
# ==========================================
.venv/
venv/

# ==========================================
# Environment variables / secrets
# ==========================================
.env

# ==========================================
# OS / IDE
# ==========================================
.DS_Store
.vscode/
.idea/